<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <h1>Quotes</h1>
    <% if(meta.page === 1) { %> 1 quote found<br />
    <% } else { %> <%= meta.page %> quotes found<br />
    <% } %>
    <ul>
      <% for (let row of rows) { %>
      <li><%= row.quote %> <br /><i><%= row.author %></i></li>
      <% } %>
    </ul>
  </body>
</html>
