.borderTable {
    border: 1px solid black !important;

}

.borderStep {
    border-bottom: 1px solid black !important;
}

.formatTable {
    text-align: center !important;
    padding: 10px !important;
    border-left: 1px solid black !important;
}

.vertical-text {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    white-space: nowrap;
    letter-spacing: 5px;
    width: 100%;
}

.secret {
    /* Safari and Chrome */
    -webkit-text-security: disc;
    /* Firefox */
    text-security: disc;
}