.formatTable {
    border: 1px solid black !important;
    /* border-spacing: 10px !important; */
    /* Space between cells */
    /* border-collapse: separate !important; */
    /* Ensure spacing is applied */
}

.formatCell {
    border: 1px solid black !important;
    text-align: center !important;
    padding: 10px !important;
    /* Space inside cells */
}

.vertical-text {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    white-space: nowrap;
    letter-spacing: 5px;
}