<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="PKE/style.css" />
		<link rel="stylesheet" href="/SLDS/styles/salesforce-lightning-design-system.min.css" />
		<%- include('../partials/head', {title}); %>
		<script type="module">
			import InputHandler from "./PKE/script.js";

			const inputHandler = new InputHandler();
			document.getElementById("p2Prime").value = inputHandler.values.p2Prime;
			document.getElementById("p2Generator").value = inputHandler.values.p2Generator;

			// Add event listener to the button
			document.getElementById("g2P1_PRIVATE").addEventListener("input", inputHandler.changedInput.bind(inputHandler, "g2P1_PRIVATE"));
			document.getElementById("g2GenerateP1_PN").addEventListener("click", inputHandler.g2GenerateP1_PN.bind(inputHandler));
			// document.getElementById("g1GuardedValue").addEventListener("input", inputHandler.changedInput.bind(inputHandler, "g1GuardedValue"));
			// document.getElementById("g1EncryptedValue").addEventListener("input", inputHandler.changedInput.bind(inputHandler, "g1EncryptedValue"));
			// document.getElementById("g1Decrypt").addEventListener("click", inputHandler.g1Decrypt.bind(inputHandler));
		</script>
	</head>
	<body>
		<div class="slds-m-horizontal_small">
			<div class="slds-align_absolute-center">
				<div class="slds-text-heading_large">Encryption Games - Game #2</div>
			</div>
			<div>
				<table>
					<tr>
						<td>
							<!-- P: Prime value -->
							<div id="p2Prime.div" class="slds-form-element" style="text-align: left">
								<label class="slds-form-element__label" for="p2Prime"> Prime Value: </label>
								<div class="slds-form-element__control">
									<input id="p2Prime" type="text" readonly disabled required class="slds-input" />
								</div>
							</div>
						</td>
						<td>
							<!-- G: Generator -->
							<div id="p2Generator.div" class="slds-form-element" style="text-align: left">
								<label class="slds-form-element__label" for="p2Generator"> Generator: </label>
								<div class="slds-form-element__control">
									<input id="p2Generator" type="text" readonly disabled required class="slds-input" />
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<th>
							<!-- Player 1 -->
							<div class="slds-align_absolute-center">
								<div class="slds-text-heading_small slds-m-vertical_xx-small">Player 1</div>
							</div>
						</th>
						<th>
							<!-- Player 2 -->
							<div class="slds-align_absolute-center">
								<div class="slds-text-heading_small slds-m-vertical_xx-small">Player 2</div>
							</div>
						</th>
					</tr>
					<tr>
						<td>
							<!-- P1: P1_PRIVATE ( 2-digit number) -->
							<div id="g2P1_PRIVATE.div" class="slds-form-element" style="text-align: left">
								<label class="slds-form-element__label" for="g2P1_PRIVATE">
									<abbr class="slds-required" title="required">* </abbr>
									P1_PRIVATE ( 2-digit number):
								</label>
								<div class="slds-form-element__control">
									<input id="g2P1_PRIVATE" type="number" min="10" max="99" required class="slds-input" />
								</div>
								<div id="g2P1_PRIVATE.error" class="slds-form-element__help" style="text-align: left"></div>
							</div>

							<!-- Button to Generate P1_PN -->
							<button id="g2GenerateP1_PN" class="slds-button slds-button_brand slds-m-vertical_xx-small" disabled>Generate P1_PN</button>

							<!-- P1: P1_PN -->
							<div id="g2P1_PN.div" class="slds-form-element" style="text-align: left">
								<label class="slds-form-element__label" for="g2P1_PN">
									<abbr class="slds-required" title="required">* </abbr>
									P1_PN:
								</label>
								<div class="slds-form-element__control">
									<input id="g2P1_PN" type="text" readonly disabled required class="slds-input" />
								</div>
							</div>
						</td>
						<td>
							<!-- P1: Encrypted Result -->
							<div id="g1EncryptedValue.div" class="slds-form-element" style="text-align: left">
								<label class="slds-form-element__label" for="g1EncryptedValue">
									<abbr class="slds-required" title="required">* </abbr>
									Encrypted Result:
								</label>
								<div class="slds-form-element__control">
									<input id="g1EncryptedValue" type="number" min="1000" max="98901" required class="slds-input" />
								</div>
								<div id="g1EncryptedValue.error" class="slds-form-element__help" style="text-align: left"></div>
							</div>

							<!-- Button to encrypt -->
							<button id="g1Decrypt" class="slds-button slds-button_brand slds-m-vertical_xx-small" disabled>Decrypt</button>

							<!-- P1: Guarded Value ( 2-digit number) -->
							<div id="g1GuardedValueResult.div" class="slds-form-element" style="text-align: left">
								<label class="slds-form-element__label" for="g1GuardedValueResult">
									<abbr class="slds-required" title="required">* </abbr>
									Guarded Value ( 2-digit number):
								</label>
								<div class="slds-form-element__control">
									<input id="g1GuardedValueResult" type="text" readonly disabled required class="slds-input" />
								</div>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<hr />
			<div>Last Rendered Time: <%= dttm %></div>
		</div>
	</body>
</html>
