<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="PKE/style.css" />
		<link rel="stylesheet" href="/SLDS/styles/salesforce-lightning-design-system.min.css" />
		<%- include('../partials/head', {title}); %>
		<script type="module">
			import InputHandler from "./PKE/script.js";

			const inputHandler = new InputHandler();

			// Add event listener to the button
			document.getElementById("g1SharedKey").addEventListener("input", inputHandler.changedInput.bind(inputHandler, "g1SharedKey"));
			document.getElementById("g1GuardedValue").addEventListener("input", inputHandler.changedInput.bind(inputHandler, "g1GuardedValue"));
			document.getElementById("g1EncryptedValue").addEventListener("input", inputHandler.changedInput.bind(inputHandler, "g1EncryptedValue"));
			document.getElementById("g1Encrypt").addEventListener("click", inputHandler.g1Encrypt.bind(inputHandler));
			document.getElementById("g1Decrypt").addEventListener("click", inputHandler.g1Decrypt.bind(inputHandler));
		</script>
	</head>
	<body>
		<div class="slds-m-horizontal_small">
			<div class="slds-align_absolute-center">
				<div class="slds-text-heading_large">Encryption Games - Game #1</div>
			</div>
			<div>
				<table class="formatTable">
					<tr>
						<!-- P1: Shared Secret (3-digits number) -->
						<td class="formatCell" colspan="2">
							<table>
								<tr>
									<td>
										<span style="font-size: xxx-large">🤫</span>
									</td>
									<td width="100%">
										<div id="g1SharedKey.div" class="slds-form-element">
											<label class="slds-form-element__label" for="g1SharedKey">
												<abbr class="slds-required" title="required">* </abbr>
												Shared Key (3-digits number):
											</label>
											<div class="slds-form-element__control">
												<input type="number" id="g1SharedKey" min="100" max="999" required class="slds-input" />
											</div>
											<div class="slds-form-element__help" style="text-align: left" id="g1SharedKey.error"></div>
										</div>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<!-- Encryption -->
						<th class="formatCell">
							<div class="slds-align_absolute-center">
								<div class="slds-text-heading_small slds-m-vertical_xx-small">Encryption (Player #2)</div>
							</div>
						</th>
						<!-- Decryption -->
						<th class="formatCell">
							<div class="slds-align_absolute-center">
								<div class="slds-text-heading_small slds-m-vertical_xx-small">Decryption (Player #1)</div>
							</div>
						</th>
					</tr>
					<tr>
						<td class="formatCell">
							<!-- P1: Guarded Value ( 2-digit number) -->
							<div>
								<table>
									<tr>
										<td>
											<span style="font-size: xxx-large">🤫</span>
										</td>
										<td width="100%">
											<div id="g1GuardedValue.div" class="slds-form-element" style="text-align: left">
												<label class="slds-form-element__label" for="g1GuardedValue">
													<abbr class="slds-required" title="required">* </abbr>
													Guarded Value ( 2-digit number):
												</label>
												<div class="slds-form-element__control">
													<input id="g1GuardedValue" type="number" min="10" max="99" required class="slds-input" />
												</div>
												<div id="g1GuardedValue.error" class="slds-form-element__help" style="text-align: left"></div>
											</div>
										</td>
									</tr>
								</table>
							</div>

							<!-- Button to encrypt -->
							<button id="g1Encrypt" class="slds-button slds-button_brand slds-m-vertical_xx-small" disabled>Encrypt</button>

							<!-- P1: Encrypted Result -->
							<div id="g1EncryptedResult.div" class="slds-form-element" style="text-align: left">
								<label class="slds-form-element__label" for="g1EncryptedResult">
									<abbr class="slds-required" title="required">* </abbr>
									Encrypted Result:
								</label>
								<div class="slds-form-element__control">
									<input id="g1EncryptedResult" type="text" disabled required class="slds-input" />
								</div>
							</div>
						</td>

						<td class="formatCell">
							<!-- P1: Encrypted Result -->
							<div id="g1EncryptedValue.div" class="slds-form-element" style="text-align: left">
								<label class="slds-form-element__label" for="g1EncryptedValue">
									<abbr class="slds-required" title="required">* </abbr>
									Encrypted Result:
								</label>
								<div class="slds-form-element__control">
									<input id="g1EncryptedValue" type="number" min="1000" max="98901" required class="slds-input" />
								</div>
								<div id="g1EncryptedValue.error" class="slds-form-element__help" style="text-align: left"></div>
							</div>

							<!-- Button to encrypt -->
							<button id="g1Decrypt" class="slds-button slds-button_brand slds-m-vertical_xx-small" disabled>Decrypt</button>

							<!-- P1: Guarded Value ( 2-digit number) -->
							<div>
								<table>
									<tr>
										<td>
											<span style="font-size: xxx-large">🤫</span>
										</td>
										<td width="100%">
											<div id="g1GuardedValueResult.div" class="slds-form-element" style="text-align: left">
												<label class="slds-form-element__label" for="g1GuardedValueResult">
													<abbr class="slds-required" title="required">* </abbr>
													Guarded Value ( 2-digit number):
												</label>
												<div class="slds-form-element__control">
													<input id="g1GuardedValueResult" type="text" disabled required class="slds-input" />
												</div>
											</div>
										</td>
									</tr>
								</table>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<hr />
			<div>Last Rendered Time: <%= dttm %></div>
		</div>
	</body>
</html>
