<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="PKE/style.css" />
		<link rel="stylesheet" href="/SLDS/styles/salesforce-lightning-design-system.min.css" />
		<%- include('../partials/head', {title}); %>
		<script type="module">
			import InputHandler from "./PKE/script.js";

			const inputHandler = new InputHandler();
			document.getElementById("p2Prime").value = inputHandler.values.g2Prime;
			document.getElementById("p2Generator").value = inputHandler.values.g2Generator;

			// Add event listener to the button
			// Step 1
			document.getElementById("g2P1_PRIVATE").addEventListener("input", inputHandler.changedInput.bind(inputHandler, "g2P1_PRIVATE"));
			document.getElementById("g2GenerateP1_PN").addEventListener("click", inputHandler.g2GenerateP1_PN.bind(inputHandler));
			document.getElementById("g2P2_PRIVATE").addEventListener("input", inputHandler.changedInput.bind(inputHandler, "g2P2_PRIVATE"));
			document.getElementById("g2GenerateP2_PN").addEventListener("click", inputHandler.g2GenerateP2_PN.bind(inputHandler));
			// Step 2
			document.getElementById("g2P1_P2_PN").addEventListener("input", inputHandler.changedInput.bind(inputHandler, "g2P1_P2_PN"));
			document.getElementById("g2GenerateP1Secret").addEventListener("click", inputHandler.g2GenerateP1Secret.bind(inputHandler));
			document.getElementById("g2P2_P1_PN").addEventListener("input", inputHandler.changedInput.bind(inputHandler, "g2P2_P1_PN"));
			document.getElementById("g2GenerateP2Secret").addEventListener("click", inputHandler.g2GenerateP2Secret.bind(inputHandler));
		</script>
	</head>
	<body>
		<div class="slds-m-horizontal_small">
			<div class="slds-align_absolute-center">
				<div class="slds-text-heading_large">Encryption Games - Game #2</div>
			</div>
			<div>
				<table class="formatTable">
					<tr>
						<td class="formatCell" colspan="2">
							<!-- P: Prime value -->
							<div id="p2Prime.div" class="slds-form-element" style="text-align: left">
								<label class="slds-form-element__label" for="p2Prime"> Prime Value: </label>
								<div class="slds-form-element__control">
									<input id="p2Prime" type="text" disabled required class="slds-input" />
								</div>
							</div>
						</td>
						<td class="formatCell">
							<!-- G: Generator -->
							<div id="p2Generator.div" class="slds-form-element" style="text-align: left">
								<label class="slds-form-element__label" for="p2Generator"> Generator: </label>
								<div class="slds-form-element__control">
									<input id="p2Generator" type="text" disabled required class="slds-input" />
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<th class="formatCell" colspan="2">
							<!-- Player 1 -->
							<div class="slds-align_absolute-center">
								<div class="slds-text-heading_small slds-m-vertical_xx-small">Player 1</div>
							</div>
						</th>
						<th class="formatCell" colspan="2">
							<!-- Player 2 -->
							<div class="slds-align_absolute-center">
								<div class="slds-text-heading_small slds-m-vertical_xx-small">Player 2</div>
							</div>
						</th>
					</tr>
					<tr>
						<th class="formatCell vertical-text">Step #1</th>
						<td class="formatCell">
							<div>
								<table>
									<tr>
										<td>
											<span style="font-size: xxx-large">🤫</span>
										</td>
										<td width="100%">
											<!-- P1_PRIVATE ( 2-digit number) -->
											<div id="g2P1_PRIVATE.div" class="slds-form-element" style="text-align: left">
												<label class="slds-form-element__label" for="g2P1_PRIVATE">
													<abbr class="slds-required" title="required">* </abbr>
													P1_PRIVATE ( 2-digit number):
												</label>
												<div class="slds-form-element__control">
													<input id="g2P1_PRIVATE" type="number" min="10" max="99" required class="slds-input" />
												</div>
												<div id="g2P1_PRIVATE.error" class="slds-form-element__help" style="text-align: left"></div>
											</div>
										</td>
									</tr>
								</table>
							</div>

							<!-- Button to Generate P1_PN -->
							<button id="g2GenerateP1_PN" class="slds-button slds-button_brand slds-m-vertical_xx-small" disabled>Generate P1_PN</button>

							<!-- P1_PN -->
							<div id="g2P1_PN.div" class="slds-form-element" style="text-align: left">
								<label class="slds-form-element__label" for="g2P1_PN">
									<abbr class="slds-required" title="required">* </abbr>
									P1_PN:
								</label>
								<div class="slds-form-element__control">
									<input id="g2P1_PN" type="text" disabled required class="slds-input" />
								</div>
							</div>
						</td>
						<td class="formatCell">
							<div>
								<table>
									<tr>
										<td>
											<span style="font-size: xxx-large">🤫</span>
										</td>
										<td width="100%">
											<!-- P2_PRIVATE ( 2-digit number) -->
											<div id="g2P2_PRIVATE.div" class="slds-form-element" style="text-align: left">
												<label class="slds-form-element__label" for="g2P2_PRIVATE">
													<abbr class="slds-required" title="required">* </abbr>
													P2_PRIVATE ( 2-digit number):
												</label>
												<div class="slds-form-element__control">
													<input id="g2P2_PRIVATE" type="number" min="10" max="99" required class="slds-input" />
												</div>
												<div id="g2P2_PRIVATE.error" class="slds-form-element__help" style="text-align: left"></div>
											</div>
										</td>
									</tr>
								</table>
							</div>

							<!-- Button to Generate P2_PN -->
							<button id="g2GenerateP2_PN" class="slds-button slds-button_brand slds-m-vertical_xx-small" disabled>Generate P2_PN</button>

							<!-- P2_PN -->
							<div id="g2P2_PN.div" class="slds-form-element" style="text-align: left">
								<label class="slds-form-element__label" for="g2P2_PN">
									<abbr class="slds-required" title="required">* </abbr>
									P2_PN:
								</label>
								<div class="slds-form-element__control">
									<input id="g2P2_PN" type="text" disabled required class="slds-input" />
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<th class="formatCell vertical-text">Step #2</th>
						<td class="formatCell">
							<!-- P1_P2_PN -->
							<div id="g2P1_P2_PN.div" class="slds-form-element" style="text-align: left">
								<label class="slds-form-element__label" for="g2P1_P2_PN">
									<abbr class="slds-required" title="required">* </abbr>
									P2_PN
								</label>
								<div class="slds-form-element__control">
									<input id="g2P1_P2_PN" type="number" min="1" max="1006" required class="slds-input" />
								</div>
								<div id="g2P1_P2_PN.error" class="slds-form-element__help" style="text-align: left"></div>
							</div>

							<!-- Button to Generate Secret -->
							<button id="g2GenerateP1Secret" class="slds-button slds-button_brand slds-m-vertical_xx-small" disabled>Generate Secret</button>

							<!-- g2P1Secret -->
							<div>
								<table>
									<tr>
										<td>
											<span style="font-size: xxx-large">🤫</span>
										</td>
										<td width="100%">
											<div id="g2P1Secret.div" class="slds-form-element" style="text-align: left">
												<label class="slds-form-element__label" for="g2P1Secret">
													<abbr class="slds-required" title="required">* </abbr>
													Secret:
												</label>
												<div class="slds-form-element__control">
													<input id="g2P1Secret" type="text" disabled required class="slds-input" />
												</div>
											</div>
										</td>
									</tr>
								</table>
							</div>
						</td>
						<td class="formatCell">
							<!-- P2_P1_PN -->
							<div id="g2P2_P1_PN.div" class="slds-form-element" style="text-align: left">
								<label class="slds-form-element__label" for="g2P2_P1_PN">
									<abbr class="slds-required" title="required">* </abbr>
									P1_PN
								</label>
								<div class="slds-form-element__control">
									<input id="g2P2_P1_PN" type="number" min="1" max="1006" required class="slds-input" />
								</div>
								<div id="g2P2_P1_PN.error" class="slds-form-element__help" style="text-align: left"></div>
							</div>

							<!-- Button to Generate Secret -->
							<button id="g2GenerateP2Secret" class="slds-button slds-button_brand slds-m-vertical_xx-small" disabled>Generate Secret</button>

							<!-- g2P2Secret -->
							<div>
								<table>
									<tr>
										<td>
											<span style="font-size: xxx-large">🤫</span>
										</td>
										<td width="100%">
											<div id="g2P2Secret.div" class="slds-form-element" style="text-align: left">
												<label class="slds-form-element__label" for="g2P2Secret">
													<abbr class="slds-required" title="required">* </abbr>
													Secret:
												</label>
												<div class="slds-form-element__control">
													<input id="g2P2Secret" type="text" disabled required class="slds-input" />
												</div>
											</div>
										</td>
									</tr>
								</table>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<hr />
			<div>Last Rendered Time: <%= dttm %></div>
		</div>
	</body>
</html>

<!-- 
<table>
									<tr>
										<td>
											<span style="font-size: xxx-large">🤫</span>
										</td>
										<td width="100%">
											
										</td>
									</tr>
								</table>
-->
